<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        html, body {
            height: 50%;
        }
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        form {
            text-align: center;
            margin-top: 20px;
        }

        form label, form input {
        margin-bottom: 10px;
    }
    </style>
</head>
<body>
    <h1>Login to Sankalp's StreamX</h1>
    <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
